---
import BaseLayout from '../layouts/BaseLayout.astro'

import { getCollection } from 'astro:content'

const allProducts = await getCollection('product')
const allTestimonials = await getCollection('testimonial')

import teamIMG from '../../public/team.webp'

const links = [
  {
    name: 'Produits',
    path: '#products',
    children: allProducts
      .sort((a, b) => a.data.order - b.data.order)
      .map((product) => ({
        name: product.data.card_title,
        path: 'products/' + product.slug,
      })),
  },
  {
    name: 'Notre équipe',
    path: '#team',
  },
  {
    name: 'Nos collaborations',
    path: '#partners',
  },
  {
    name: 'Contact',
    path: '#contact',
  },
]
export const prerender = true
---

<BaseLayout links={links}>
  <div
    class="flex h-full max-w-3xl flex-col items-start justify-center gap-8 p-8"
    slot="hero"
  >
    <h1 class="text-6xl font-bold">Transformons vos visions en solutions.</h1>
    <p>
      Nous sommes votre guichet unique pour tout ce qui concerne la technologie
      et la transformation numérique. De la consultance IT pour optimiser vos
      opérations, à la création de cartes de visite connectées et de sites web
      engageants, en passant par la maintenance sans faille de votre parc
      informatique et la sécurisation grâce à nos solutions de caméras de
      surveillance. Nous fusionnons expertise et innovation pour façonner votre
      succès digital, étape par étape.
    </p>
    <a href="#products" class="btn btn-primary rounded rounded-3xl text-white"
      >Découvrez Nos Produits</a
    >
  </div>
  <div slot="default">
    <section class="bg-white">
      <div id="products"></div>
      <div class="mx-auto max-w-6xl px-8 py-24 text-center text-text_color">
        <h2 class="mb-4 text-4xl font-bold">Nos produits</h2>
        <p class="font-light">
          De la maintenance informatique à la création de sites web, en passant
          par les Tech Cards et notre solution de sécurité innovante avec
          caméras de surveillance et alarmes intégrées, notre équipe est dédiée
          à vous offrir des solutions fiables et sur mesure pour vous
          accompagner dans votre parcours digital
        </p>
      </div>

      <div
        class="mx-auto mb-20 grid max-w-6xl grid-cols-1 bg-white lg:mb-48 lg:grid-cols-2 lg:gap-6 xl:grid-cols-4"
      >
        {
          allProducts
            .sort((a, b) => a.data.order - b.data.order)
            .map((product, index) => (
              <a
                rel="prefetch"
                href={'products/' + product.slug}
                class={
                  'z- card card-compact mx-auto flex w-4/5 min-w-64 flex-col items-center justify-start gap-6 rounded-xl p-4 text-left lg:w-auto' +
                  (index + 1) * 10
                }
              >
                <figure class="flex h-40 w-full shrink-0 flex-col items-center justify-center rounded-xl bg-hero_pattern bg-cover">
                  <img class="w-28" src={product.data.img} />
                </figure>
                <h3 class="card-title w-full shrink-0 ">
                  {product.data.card_title}
                </h3>
                <p class="grow text-sm text-sm font-light">
                  {product.data.card_excerpt}
                </p>
                <div class="flex  w-full shrink-0 justify-end">
                  <span class="link-hover link text-blue-400">
                    En savoir plus
                  </span>
                </div>
              </a>
            ))
        }
      </div>
    </section>
    <section class="bg-background_light text-text_color">
      <div id="team"></div>
      <div
        class="mx-auto flex max-w-6xl flex-col justify-between px-8 py-24 text-center lg:flex-row"
      >
        <div class="text-start lg:w-1/2">
          <h2 class="mb-4 text-4xl font-bold">Notre équipe</h2>
          <div>
            <p>
              Chez NSmobile, nous croyons fermement en la capacité de la
              technologie à simplifier nos vies au quotidien. Notre mission est
              de rendre votre parcours plus fluide. Notre équipe est à l'écoute
              pour mieux comprendre vos besoins, et ensemble, nous façonnons vos
              projets pour concrétiser vos aspirations.
            </p>
            <p class="mt-2">
              Composée exclusivement d'experts en informatique et de techniciens
              chevronnés, notre équipe investit pleinement dans la maîtrise,
              l'expérience et la qualité. Cela nous permet de mettre le focus là
              où ça compte vraiment, laissant le marketing et la visibilité à
              ceux qui en ont réelement besoins. Vous avez des objectifs à
              atteindre, et nous avons les compétences pour vous y emmener.
            </p>
          </div>
          <div class="mt-8 flex flex-col items-start gap-2">
            <a
              href="https://www.nsmobile6k.be/users/nsmobile6k"
              class="btn btn-primary rounded rounded-3xl text-white"
              >Contactez-nous</a
            >
            <a
              href="https://www.nsmobile6k.be/users/nsmobile6k"
              class="btn btn-secondary rounded rounded-3xl text-white"
              >Commencer un projet</a
            >
          </div>
        </div>
        <aside class="lg:w-1/2">
          <img src={teamIMG.src} />
        </aside>
      </div>
    </section>
    <section class="bg-white">
      <div id="partners"></div>
      <div class="mx-auto max-w-6xl px-8 py-24 text-center text-text_color">
        <h2 class="mb-4 text-4xl font-bold">Ils nous font confiance</h2>
        <p class="mb-8 font-light">
          La satisfaction de nos clients est notre plus grande récompense.
          Découvrez ce que disent ceux qui ont fait appels à nos services pour
          leurs besoins personnels et professionnels.
        </p>
        <div class="flex flex-wrap items-center justify-center gap-8">
          {
            allTestimonials
              .sort((a, b) => a.data.order - b.data.order)
              .map(async (testimonial) => {
                const { Content } = await testimonial.render()
                return (
                  <div class="mx-auto flex w-72 flex-col items-center gap-4 rounded-lg bg-background_light p-8">
                    <div class="rating">
                      {[0, 1, 2, 3, 4].map((amount) => (
                        <input
                          type="radio"
                          name={`rating-${testimonial.data.order}`}
                          class={`mask mask-star-2 pointer-events-none bg-orange-400`}
                          checked={testimonial.data.stars > amount}
                        />
                      ))}
                    </div>
                    <div class="h-28 text-sm">
                      <Content />
                    </div>
                    <h3 class="font-bold">{testimonial.data.name}</h3>
                  </div>
                )
              })
          }
        </div>
      </div>
    </section>
    <section class="bg-background_light">
      <div id="contact"></div>
      <div class="mx-auto max-w-6xl px-8 py-24 text-center text-text_color">
        <h2 class="mb-4 text-4xl font-bold">Débutez maintenant</h2>
        <p class="mb-8 font-light">
          La satisfaction de nos clients est notre plus grande récompense.
          Découvrez ce que disent ceux qui ont fait appels à nos services pour
          leurs besoins personnels et professionnels.
        </p>
        <a
          href="https://www.nsmobile6k.be/users/nsmobile6k"
          class="btn btn-primary rounded rounded-3xl text-white"
          >Contactez-nous</a
        >
      </div>
    </section>
  </div>
</BaseLayout>
