---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection, getEntry } from "astro:content";

const { productEntry } = Astro.props;

export async function getStaticPaths() {
  const productEntries = await getCollection("product");
  return productEntries.map((productEntry: any) => ({
    params: { slug: productEntry.slug },
    props: { productEntry },
  }));
}

const links = [
  {
    name: "Comment ?",
    path: "#how",
  },
  {
    name: "Fonctionnalités",
    path: "#features",
  },
  {
    name: "Tarifs",
    path: "#price",
  },
  {
    name: "Formulaire",
    path: "#form",
  },
];

const stepsColors = ["#D9D9D9", "#C51162", "#10B5D1", "#FFD600"];

const howEntry = await getEntry(productEntry.data.how);
const { Content: HowEntryContent } = await howEntry.render();
const featuresEntry = await getEntry(productEntry.data.features);
const { Content: FeaturesEntryContent } = await featuresEntry.render();
const priceEntry = await getEntry(productEntry.data.price);
const { Content: PriceEntryContent } = await priceEntry.render();
const formEntry = await getEntry(productEntry.data.form);
const { Content: FormEntryContent } = await formEntry.render();

export const prerender = true;
---

<BaseLayout links={links} title={productEntry.data.card_title}>
  <div
    class="relative flex w-full flex-col items-center justify-center gap-2"
    slot="hero"
  >
    <img
      src={productEntry.data.img}
      class="w-80 xl:absolute xl:bottom-32 xl:right-16 xl:w-124"
    />
    <h1
      class="max-w-104 text-center text-6xl font-bold xl:absolute xl:left-32 xl:top-32 xl:text-left xl:text-8xl"
    >
      {productEntry.data.page_title}
    </h1>
  </div>
  <div slot="default">
    <section class="bg-white">
      <div id="how"></div>
      <div class="mx-auto max-w-6xl px-8 py-24 text-center text-text_color">
        <h2 class="mb-8 text-4xl font-bold">Comment ça marche ?</h2>
        <div class="font-light"><HowEntryContent /></div>
      </div>
      <div
        class="mx-auto mb-24 flex max-w-6xl flex-col items-center justify-center gap-12 lg:flex-row"
      >
        {
          howEntry.data.steps?.map((step: any, index: number) => (
            <div class="flex flex-col items-center gap-2">
              <figure
                class="flex h-32 w-32 items-center justify-center rounded-full text-5xl font-black text-white"
                style={`background-color: ${stepsColors[index]}`}
              >
                {index}
              </figure>
              <div class="flex flex-col items-center gap-1 text-center">
                <h3 class="font-bold">{step.title}</h3>
                <h3 class="px-8 font-light">{step.text}</h3>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section class="bg-background_light text-text_color">
      <div id="features"></div>
      <div class="mx-auto max-w-6xl px-8 py-24 text-center">
        <h2 class="mb-8 text-4xl font-bold">Fonctionnalités</h2>
        <div class="flex flex-col gap-4 font-light">
          <FeaturesEntryContent />
        </div>
      </div>
    </section>

    <section class="bg-white text-text_color">
      <div id="price"></div>
      <div class="mx-auto max-w-6xl px-8 py-24 text-center text-text_color">
        <h2 class="mb-8 text-4xl font-bold">Prix</h2>
        <div class="flex flex-col gap-4 font-light">
          <PriceEntryContent />
        </div>
        {
          priceEntry.data?.grid?.length && (
            <div class="overflow-x-auto">
              <table class="table table-zebra mx-auto max-w-xl">
                <thead>
                  <tr>
                    <th>Quantité</th>
                    <th>prix</th>
                  </tr>
                </thead>
                <tbody>
                  {priceEntry.data?.grid.map((line: any) => (
                    <tr>
                      <td>{line.title}</td>
                      <td>{line.text}</td>
                    </tr>
                  ))}
                </tbody>
              </table>
            </div>
          )
        }
      </div>
    </section>

    <section class="bg-background_light text-text_color">
      <div id="form"></div>
      <div class="mx-auto max-w-6xl px-8 py-24 text-center">
        <h2 class="mb-8 text-4xl font-bold">Formulaire</h2>
        <div class="font-light"><FormEntryContent /></div>
      </div>
    </section>
  </div>
</BaseLayout>
